<footer class="dialog-buttons">
    <button type="button" class="generate-btn" data-action="generate">
        <i class="fas fa-dice"></i> {{localize "GAXXGENERATOR.GenerateAndCreateButton"}}
    </button>
    <button type="button" class="close-btn" data-action="close">
        <i class="fas fa-times"></i> {{localize "GAXXGENERATOR.CloseButton"}}
    </button>
</footer>